<h1>Edit a city here!</h1>

<h3></h3>

<form action="/cities/<%= @city.id %>" method="POST">
  <label for="country">Country:</label>
  <select name="country_id" id="country" value="<%= @city.country.id %>">
    <% for country in @countries %>
      <option value="<%= country.id %>"><%= country.name %></option>
    <% end %>
  </select>

  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @city.name %>">
  <input type="radio" name="visited" value="t" id="t">
    <label for="t">Visited</label>
  <input type="radio" name="visited" value="f" id="f">
    <label for="f">Wishlist</label>
  <br>

  <button type="Submit">Submit</button>

</form>
